*.pyc
*.swp
*.*~
*.sqlite3
.environment_version
.selenium_log
.coverage*
.noseids
.DS_STORE
coverage.xml
nosetests.xml
pep8.txt
pylint.txt
reports
doc/build/
doc/source/sourcecode
.venv
.tox
build
dist
AUTHORS
ChangeLog
tags
