#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with python2

override_dh_install:
	dh_install
	BASEDIR=$$(ls -d debian/jiocloud-registration-service/usr/lib/*/*/regservice  | grep $$(pyversions -r) | sed -e s%debian/jiocloud-registration-service%%g); \
	sed -e s^%BASEDIR%^$${BASEDIR}^ debian/apache.conf > debian/jiocloud-registration-service/etc/apache2/conf.d/jiocloud-registration-service.conf
